/* sidebar ticket preview */
#ghx-detail-view {
  width: 100% !important;
  height: 100%;
  position: absolute;
  z-index: 500;
  left: 0;
}

/* remove "Project Orgranization" text from header*/
.aui-header-logo-text {
  font-size: 0;
}

body .ghx-detail-issue .ghx-detail-list {
    float: left;
    width: 33%;
    font-size: 90%
}
